@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;

  --color-brand-50: #eefbf7;
  --color-brand-100: #d5f3e9;
  --color-brand-200: #ade6d3;
  --color-brand-300: #7bd2b8;
  --color-brand-400: #4bb89d;
  --color-brand-500: #2c9b82;
  --color-brand-600: #1c7d68;
  --color-brand-700: #186454;
  --color-brand-800: #155045;
  --color-brand-900: #12423a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-brand-50: var(--color-brand-50);
  --color-brand-100: var(--color-brand-100);
  --color-brand-200: var(--color-brand-200);
  --color-brand-300: var(--color-brand-300);
  --color-brand-400: var(--color-brand-400);
  --color-brand-500: var(--color-brand-500);
  --color-brand-600: var(--color-brand-600);
  --color-brand-700: var(--color-brand-700);
  --color-brand-800: var(--color-brand-800);
  --color-brand-900: var(--color-brand-900);

  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
}

* {
  scrollbar-color: #cbd5e1 transparent;
}
